body {
  margin: 0;
}

.background {
  animation: scroll 70s linear infinite;
  background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
    #111111;
  /* background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%); */
  color: #eee;
  min-height: 100vh;
  height: 100%;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .background {
    animation: scroll 200s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}

/* 
Landing Page Section Start
 */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.landing-body {
  width: 80%;
  margin-left: 10%;
}

h1 {
  text-align: center;
  color: white;
  font-size: xxx-large;
}

.subTitle {
  margin-top: 10%;
  font-size: x-large;
  color: white;
  text-align: center;
}

@keyframes color-change {
  0% {
    color: #fceadd;
  }
  50% {
    color: rgb(180, 162, 1);
  }
  100% {
    color: #fceadd;
  }
}
/* Landing Page Section End
 */

/* Input page start
 */
.panel {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.input {
  width: 40%;
  height: 10vh;
  text-align: center;
  border-radius: 10px;
}

.button {
  background-color: white;
  cursor: pointer;
}

ol {
  column-count: 5;
  column-gap: 4%;
  column-width: 15%;
  margin-left: 3%;
  width: 90%;
  border: 5px inset;
}

/* Input page end
 */
/* Titles section start
  */

li {
  color: white;
}

.titlesPair {
  width: 70%;
  margin: 2% 15% 0%;
  display: flex;
  flex-flow: row;
}

.titleComponent {
  width: 50%;
  margin-left: 2%;
  border: 5px solid;
}

.checkboxes {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.feature {
  width: 110%;
  margin-right: 5%;
}

.checkboxes i {
  animation-duration: 3s;
  height: 80%;
  animation-name: slidein;
  animation-iteration-count: 1;
  cursor: pointer;
}

article {
  position: relative;
  height: 10vh;
  font-size: x-large;
  margin: 1vh;
  float: center;
  background-color: #004e6d;
  border: 4px solid #002538;
  box-sizing: border-box;
}

article div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}

article input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

input[type="checkbox"]:checked ~ div {
  background-color: #f8fdff;
  color: black;
}

/* Titles section end
  */

/* Winner section start
   */

a.button1 {
  padding: 0.5em;
  border: 0.1em solid #ffffff;
  width: 5rem;
  height: auto;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  font-size: 110%;
  cursor: pointer;
}

#exit {
  width: 100%;
  display: block;
  text-align: center;
  padding: 2em 7em;
  margin-left: auto;
  margin-right: auto;
}

a.button1:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
  .button1 {
    display: block;
    margin: 0.4em auto;
  }
}
/* Winner section end
   */
