body {
  margin: 0;
  height: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  background-color: rgb(236, 188, 125);
}

/* 
Landing Page Section Start
 */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.landing-body {
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
}

h1 {
  text-align: center;
  color: white;
  font-size: xxx-large;
}

.subTitle {
  margin-top: 10%;
  font-size: x-large;
  color: white;
  text-align: center;
}

@keyframes color-change {
  0% {
    color: #fceadd;
  }
  50% {
    color: rgb(180, 162, 1);
  }
  100% {
    color: #fceadd;
  }
}
/* Landing Page Section End
 */

/* Input page start
 */
.panel {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.input {
  width: 40%;
  height: 10vh;
  text-align: center;
  border-radius: 10px;
}

.button {
  background-color: white;
}

ol {
  column-count: 5;
  column-gap: 4%;
  column-width: 15%;
  margin-left: 3%;
  width: 90%;
  border: 5px inset;
}

/* Input page end
 */
/* Titles section start
  */

li {
  color: white;
}

.titlesPair {
  width: 70%;
  margin: 2% 15% 0%;
  display: flex;
  flex-flow: row;
}

.titleComponent {
  width: 50%;
  margin-left: 2%;
  border: 5px solid;
}
.checkboxes {
  width: 60%;
  margin-left: 20%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.feature {
  width: 40%;
  margin-right: 5%;
}

.checkboxes i {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

article {
  position: relative;
  height: 15vh;
  font-size: x-large;
  margin: 1vh;
  float: left;
  border: 4px solid #002538;
  box-sizing: border-box;
}

article div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}

article input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

input[type="checkbox"]:checked ~ div {
  background-color: #013a57;
  color: #fff;
}

/* Titles section end
  */

/* Winner section start
   */

a.button1 {
  padding: 0.5em;
  border: 0.1em solid #ffffff;
  width: 5rem;
  height: auto;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  font-size: 110%;
}

#exit {
  width: auto;
  display: block;
  text-align: center;
  padding: 2em 7em;
  margin-left: auto;
  margin-right: auto;
}

a.button1:hover {
  color: #000000;
  background-color: #ffffff;
}
@media all and (max-width: 30em) {
  .button1 {
    display: block;
    margin: 0.4em auto;
  }
}
/* Winner section end
   */
