body {
  margin: 0;
  height: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  background-color: rgb(236, 188, 125);
}

/* 
Landing Page Section Start
 */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.landing-body {
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
}

h1 {
  text-align: center;
  color: white;
  font-size: xxx-large;
}

.subTitle {
  margin-top: 10%;
  font-size: x-large;
  color: white;
  text-align: center;
}

@keyframes color-change {
  0% {
    color: #fceadd;
  }
  50% {
    color: rgb(180, 162, 1);
  }
  100% {
    color: #fceadd;
  }
}
/* Landing Page Section End
 */

/* Input page start
 */
.panel {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.input {
  width: 40%;
  height: 10vh;
  margin-left: 5%;
  text-align: center;
  border-radius: 10px;
}

.button {
  width: 10%;
  height: 11vh;
  border-radius: 10px;
  background-color: white;
}

ol {
  column-count: 5;
  column-gap: 4%;
  column-width: 15%;
  margin-left: 3%;
  width: 90%;
  border: 5px inset;
}

/* Input page end
 */
